.contact-panel{

}

.input-panel{

}

.column1{
  width:50%;
  float:left;
  text-align:center;
  border:15px solid black;
  background-color: grey;
}

.column2{
  width:50%;
  float:left;
  text-align:center;
  border:15px solid red;
  background-color: teal;
}
